body {
  background-color:#010444;
}

div.container {
  color: white;
  display: flex;
  flex-direction: row;
}

div.sub_container1 {
  flex-basis: 70%;
}

div.sub_container2 {
  flex-basis: 30%;
  margin-left: 20px;
}

p {
  text-align: center;
}

.video_container {
  background-color:#282554;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.room_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.green_circle {
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background-color: #00FF1B;
  display: flex;
  margin-right: 5px;
  
}

.currnt_room {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.option_container {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}

.option {
  display: flex;
  width: 45%;
  min-height: 70px;
  background-color: #3E4A74;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.alert_container {
  background-color: #282554;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.alert_sub_container {
  padding-left: 10px;
  padding-right: 10px;
}

.alert {
  background-color: #3E4A74;
  border-radius: 10px;
}

.video_list {
  display: flex;
  background-color: #3E4A74;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  background-color: #3E4A74;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.meta_data_container {
  display: flex;
  flex-direction: column;
  background-color: #3E4A74;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.option_container_logs {
  display: flex;
  flex-direction: row;
}

.logs_button {
  height: 50px;
  width: 100%;
  margin-right: 30px;
}