<!DOCTYPE html>

<html>
  <head>
    <meta charset=”UTF-8″>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="container">
      <div class="sub_container1">
        <h3>Dashboard</h3>
        <h1>Hi, {{name}}! Everything is normal.</h1>
        <div class="room_container">
          <div class="currnt_room">
            <div class="green_circle"></div>
            <p>Living Room</p>
          </div>
          <p>Bed Room</p>
          <p>Corridor</p>
        </div>
        <div class="video_container">
          <img src="{{ url_for('video_feed') }}" width="90%" id="video">
          <img src="../static/images/sample.png" alt="sample" width="90%" id="default_image" style="display: none;">
          
          <div class="option_container">
            <div class="option">
              <a  href="{{ url_for('recordings_get') }}">
                <p>Watch Recordings</p>
              </a>
            </div>
            <div class="option">
              <a  href="{{ url_for('logs_get') }}">
                <p>Manage Logs</p>
              </a>
            </div>
            <div class="option">
              <p onclick="toggle_display()" id="on_off">Turn off the Camera</p>
            </div>
            <div class="option">
              <a  href="{{ url_for('settings_get') }}">
                <p>Registration and Settings</p>
              </a>
            </div>
          </div>
        </div> 
      </div>

      <div class="sub_container2">
        <p>Date {{date}}</p>
        <p>Time {{time}}</p>
        <div class="alert_container">
          <div class="alert_sub_container">
            <h3>Alert Logs</h3>
            <button onclick="reload()" class="button">Reload</button>

            {% for i in input_from_python %}
            <div class="alert">
                {% for j in i.type %}
                <p>{{j}} detected.</p>
                {% endfor %}
                <p>{{i.date}}</p>
            </div>
            {% endfor %}
          
        </div>
      </div>
    </div>
   
    <script>
      const video_div = document.getElementById('video');
      const image_div = document.getElementById('default_image');
      let video_off = false;
      let output = document.getElementById("on_off");

      const toggle_display = function() {
        if (video_off) {
          video_div.style.display = "block";
          image_div.style.display = "none";
          video_off = false;
          output.innerHTML = "Turn off the Camera";
          return
        } else {
          //can be: flex, grid, etc...
          video_div.style.display = "none";
          image_div.style.display = "block";
          video_off = true;
          output.innerHTML = "Turn on the Camera";
          return
        }
      };

      setTimeout(function () {
        location.reload();
      }, 60000);

      function reload() {
        location.reload();
      };
    </script>
  </body>


</html>