<!DOCTYPE html>

<html>
  <head>
    <meta charset=”UTF-8″>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="container">

      <div class="sub_container1">
        <a  href="{{ url_for('index') }}">Go back to INDEX PAGE</a>
        <h3>Watch Recordings</h3>
        <p id="video_name">{{title}}</p>
        <div class="video_container">
          <video id='video_source' width="90%" controls>
            <source src='static/recordings/{{video_name}}' type="video/mp4">
          </video>
          <div class="meta_data_container">
            <p>Frame Rate: {{frame_rate}} fps</p>
            <p>Duration: {{duration}} seconds</p>
            <p>Codec: {{codec}}</p>
            <p>Video Height: {{v_height}} px</p>
            <p>Video Width: {{v_width}} px</p>
            <p>Display Aspect Ratio: {{ratio}}</p>
            <form action="/recordings" method="POST" enctype="multipart/form-data">
              <input type="hidden" id="video" name="video" value="D{{video_name}}">
              <button type="submit" class="button">Delete</button>
            </form>
            
          </div>
        </div>
      </div>
      
      <div class="sub_container2">
        <div class="alert_container">
          <div class="alert_sub_container">
            <h3>Video Recordings</h3>
            {% for i in file_paths %}
              <div class="video_list">
                <form action="/recordings" method="POST" enctype="multipart/form-data">
                  <input type="hidden" id="video" name="video" value="{{i}}">	
                  <p>{{i}}</p>
                  <input type="submit" value="watch" class="button">
                </form>
                
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>
    <script>
      function reload() {
        location.reload();
      };
    </script>
  </body>
</html>