<!DOCTYPE html>

<html>
  <head>
    <meta charset=”UTF-8″>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="container">

      <div class="sub_container1">
        <a  href="{{ url_for('index') }}">Go back to INDEX PAGE</a>
        <h3>Watch Recordings</h3>
        <p id="video_name">Not Selected</p>
        <div class="video_container">
          <!-- <img src="../static/images/sample.jpg" alt="sample" width="90%" id="default_image"> -->
          <video id='video_source' width="90%" controls>
            <!-- <source id='video_source' src={{ url_for("static", filename="recordings/10-08-2022-12-38-23.mp4") }} type="video/mp4"> -->
            <source src='' type="video/mp4">
            <!-- <source src='static/recordings/10-08-2022-12-38-23.mp4' type="video/mp4"> -->
          </video>
        </div>
      </div>
      
      <div class="sub_container2">
        <div class="alert_container">
          <div class="alert_sub_container">
            <h3>Video Recordings</h3>
            {% for i in file_paths %}
              <div class="alert">
                <p onclick="set_chosen_src('{{i}}')">{{i}}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    </div>
    <script>
      const video_src = document.getElementById('video_source');
      const chosen_video_name = document.getElementById('video_name');
      
      function set_chosen_src(path) {
        const src = `static/recordings/${path}`;
        video_src.src = src;
        chosen_video_name.innerHTML = path;
        return;
      }

    </script>
  </body>
</html>