<!DOCTYPE html>

<html>
  <head>
    <meta charset=”UTF-8″>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="container">
      <div class="sub_container1">
        <a  href="{{ url_for('index') }}">Go back to INDEX PAGE</a>
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <div class="form_container">
          <form action="/settings" method="POST" enctype="multipart/form-data">
            <div class="label">
              <label for="name">Name: (half-width alphanumeric characters only)</label>
            </div>
            <div class="input">
              <input type="text" pattern="^[0-9A-Za-z]+$" id="name" name="name" placeholder="Name" class="input_box" required>
            </div>
            <div class="label">
              <label for="name">Email Address: </label>
            </div>
            <div class="input">
              <input type="email" id="email" name="email" placeholder="Email Adress" class="input_box" required>	
            </div>
            <div>
              <input type="submit" value="submit" class="button">
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>